.button {
  .p-button {
    box-shadow: none;
    font-family: Roboto;
    background-color: #416200;
    border-color: #416200;

    &:hover {
      background-color: #334D00;
      border-color: #334D00;
    }

    &.rounded {
      border-radius: 50%;
    }

    &.danger {
      background-color: #DC1111;
      border-color: #DC1111;

      &:hover {
        background-color: #C21313;
        border-color: #C21313;
      }
    }

    &.outlined {
      color: #416200;
      background-color: white;
      border-color: #416200;

      &:hover {
        color: white;
        background-color: #334D0085;
        border-color: #334D00;
      }
    }
  }
}