.data-table {
  .p-datatable {
    font-family: Roboto;
    
    .p-datatable-thead {
      & > tr {
        & > th {
          display: flex;
          justify-content: center;
          font-family: 'Josefin Sans';
          font-size: 1.1rem;
          color: white;
          background-color: #416200;
          border-color: #416200;
        }
      }
    }

    .p-datatable-tbody {
      & > tr {
        & > td {
          display: flex;
          justify-content: center;
          padding: 0.5rem 1rem;
          color: #444444;
          background-color: white;
          border-color: #C7C9C8;
        }
      }
    }
  }
}