.p-dialog {
  font-family: Roboto;

  .p-dialog-header {
    font-family: 'Josefin Sans';
    color: #416200;

    .p-dialog-title {
      font-size: 1.5rem;
    }

    .p-dialog-header-icons {
      .p-dialog-header-close {
        box-shadow: none;
        color: #416200;

        &:hover {
          color: white;
          background-color: #334D0085;
        }
      }
    }
  }

  .p-dialog-content {
    color: #444444;
  }
}