.input-text {
  .p-inputtext {
    margin-right: 1rem;
    font-family: Roboto;
    
    &:enabled {
      &:hover, &:focus:not(:hover) {
        border-color: #416200;
      }
      
      &:focus {
        box-shadow: none;
      }
    }
  }
}