<template>
  <div class="home">
    <Toast group="success" />
    <Toast group="error" />

    <Dialog
      class="delete-all-dialog"
      header="Delete All Products"
      v-model:visible="displayDeleteAllDialog"
      :modal="true"
    >
      <p>Are you sure you want to delete all products from your list?</p>

      <template #footer>
        <div class="button">
          <Button 
            icon="pi pi-check" 
            label="Yes" 
            @click="deleteAllProducts"
          />

          <Button 
            class="outlined"
            icon="pi pi-times" 
            label="No" 
            @click="showHideDeleteAllDialog"
          />
        </div>
      </template>
    </Dialog>

    <h1 class="page-title">Products</h1>

    <div class="home-actions">
      <div class="input-container">
        <label>Name:</label>
        <div class="input-text">
          <InputText 
            placeholder="Insert a name" 
            v-model.trim="product.name" 
          />
        </div>
      </div>
      
      <div class="input-container">
        <label>Description:</label>
        <div class="input-text">
          <InputText 
            placeholder="Insert a description" 
            v-model.trim="product.description" 
          />
        </div>
      </div>
      
      <div class="button">
        <Button 
          icon="pi pi-plus" 
          label="Add" 
          :disabled="disableAddButton"
          @click="addProduct(product)" 
        />

        <Button 
          icon="pi pi-trash"
          label="Delete All"
          :disabled="disableDeleteAllButton"
          @click="showHideDeleteAllDialog"
        />
      </div>
    </div>
    
    <br />

    <ProductsTable 
      :loadingTable="loadingTable"
      :products="products"
      @delete-product="requestDeleteProduct" 
      @update-product="requestPutProduct"
    />
  </div>
</template>

<script>
import { getProducts, postProduct, deleteProduct, putProduct } from '@/services/ProductsServices';
import ProductsTable from '../components/ProductsTable';

export default {
  components: { ProductsTable },
  data() {
    return {
      displayDeleteAllDialog: false,
      errors: [],
      loadingTable: false,
      product: {
        name: '',
        description: ''
      },
      products: []
    }
  },
  computed: {
    disableAddButton() {
      return this.product.name && this.product.description ? false : true;
    },
    disableDeleteAllButton() {
      return this.products.length ? false : true;
    }
  },
  async mounted() {
    await this.requestGetProducts();
  },
  methods: {
    capitalizeFirstLetter(string) {
      const capitalizedString = string.charAt(0).toUpperCase() + string.slice(1);
      return capitalizedString;
    },
    notification(severity, summary, detail, life) {
      this.$toast.removeGroup('success');
      this.$toast.add({severity, summary, detail, life, group: severity});
    },
    showHideDeleteAllDialog() {
      this.displayDeleteAllDialog = !this.displayDeleteAllDialog;
    },
    async addProduct(product) {
      await this.requestPostProduct(product);
    },
    async deleteAllProducts() {
      this.showHideDeleteAllDialog();
      await this.products.forEach(product => {
        this.requestDeleteProduct(product);
      });
    },
    async requestGetProducts() {
      this.loadingTable = true;

      try {
        const response = await getProducts();
        let data = response.data.data;
        let errors = response.data.errors;
        this.products = [...data];
        this.errors = [...errors];
      } catch {
        this.products = [];
        this.errors = [];
        this.notification('error', '', `Couldn't get registered products.`, 5000);
      }

      this.loadingTable = false;
    },
    async requestPostProduct(product) {
      try {
        await postProduct(product);
        this.requestGetProducts();
        this.notification('success', this.capitalizeFirstLetter(product.name), 'This product was added to your list.', 5000);
        this.product.name = this.product.description = '';
      } catch(error) {
        let response = JSON.parse(error.request.response);
        this.notification('error', this.capitalizeFirstLetter(product.name), response.errors[0], 5000);
      }
    },
    async requestDeleteProduct(product) {
      try {
        await deleteProduct(product.id);
        this.requestGetProducts();
        this.notification('success', this.capitalizeFirstLetter(product.name), 'This product was deleted from your list.', 5000);
      } catch(error) {
        let response = JSON.parse(error.request.response);
        this.notification('error', this.capitalizeFirstLetter(product.name), response.errors[0], 5000);
      }
    },
    async requestPutProduct(product) {
      try {
        await putProduct(product.id, product);
        this.requestGetProducts();
        this.notification('success', this.capitalizeFirstLetter(product.name), `Product's name was updated.`, 5000);
      } catch(error) {
        let response = JSON.parse(error.request.response);
        this.notification('error', this.capitalizeFirstLetter(product.name), response.errors[0], 5000);      
      }
    }
  }
}
</script>