<template>
  <div class="products-table">
    <Dialog
      class="delete-dialog"
      header="Delete Product"
      v-model:visible="displayDeleteDialog"
      :modal="true"
    >
      <p>Are you sure you want to delete <span class="product-name">{{selectedProduct.name}}</span>?</p>

      <template #footer>
        <div class="button">
          <Button 
            icon="pi pi-check" 
            label="Yes" 
            @click="deleteProduct(selectedProduct)"
          />

          <Button 
            class="outlined"
            icon="pi pi-times" 
            label="No" 
            @click="showHideDeleteDialog"
          />
        </div>
      </template>
    </Dialog>

    <Dialog
      class="update-dialog"
      header="Update Product"
      v-model:visible="displayUpdateDialog"
      :modal="true"
    >
      <div class="input-text">
        <div class="input-container">
          <label>Name:</label>
          <div class="input-text">
            <InputText 
              placeholder="Insert a new name"
              v-model.trim="selectedProduct.name" 
            />
          </div>
        </div>
        
        <div class="input-container">
          <label>Description:</label>
          <div class="input-text">
            <InputText 
              placeholder="Insert a new description"
              v-model.trim="selectedProduct.description" 
            />
          </div>
        </div>
      </div>

      <template #footer>
        <div class="button">
          <Button 
            icon="pi pi-check" 
            label="Yes" 
            :disabled="disableUpdateProduct"
            @click="updateProduct(selectedProduct)"
          />

          <Button 
            class="outlined"
            icon="pi pi-times" 
            label="No" 
            @click="showHideUpdateDialog"
          />
        </div>
      </template>
    </Dialog>

    <div class="data-table">  
      <DataTable 
        dataKey="id" 
        responsiveLayout="scroll"
        scrollHeight="500px" 
        showGridlines
        :loading="loadingTable"
        :scrollable="true" 
        :value="products" 
      > 
        <Column 
          field="id" 
          header="Id" 
          style="min-width: 8rem; max-width: 10rem"
        />

        <Column 
          field="name" 
          header="Name" 
          style="min-width: 14rem; max-width: 20rem"
        />
        
        <Column 
          field="description" 
          header="Description" 
          style="min-width: 8rem"
        />

        <Column   
          style="max-width: 14rem"
        >
          <template #body={data}>
            <div class="button">
              <Button 
                class="rounded"
                icon="pi pi-pencil" 
                @click="showUpdateDialog(data)" 
              />

              <Button 
                class="danger rounded"
                icon="pi pi-trash" 
                @click="showDeleteDialog(data)" 
              />
            </div>
          </template>
        </Column>

        <template #empty>
          <span class="empty-content">No product found.</span>
        </template>
      </DataTable>
    </div>
  </div>
</template>

<script>
export default {
  emits: [
    'delete-product',
    'update-product'
  ],
  props: {
    errors: {
      type: Array,
      default: new Array()
    },
    loadingTable: {
      type: Boolean,
      default: false
    },
    products: {
      type: Array,
      default: new Array()
    }
  },
  data() {
    return {
      currentProduct: null,
      displayDeleteDialog: false,
      displayUpdateDialog: false,
      selectedProduct: null
    }
  },
  computed: {
    disableUpdateProduct() {
      return this.selectedProduct.name === this.currentProduct.name || 
             this.selectedProduct.description === this.currentProduct.description ? true : false;
    }
  },
  methods: {
    showHideDeleteDialog() {
      this.displayDeleteDialog = !this.displayDeleteDialog;
    },
    showHideUpdateDialog() {
      this.displayUpdateDialog = !this.displayUpdateDialog;
    },
    showDeleteDialog(product) {
      this.selectedProduct = {...product};
      this.showHideDeleteDialog();
    },
    showUpdateDialog(product) {
      this.selectedProduct = {...product};
      this.currentProduct = {...product};
      this.showHideUpdateDialog();
    },
    deleteProduct(product) {
      this.$emit('delete-product', product);
      this.showHideDeleteDialog();
    },
    updateProduct(product) {
      this.$emit('update-product', product);
      this.showHideUpdateDialog();
    }
  }
}
</script>