body {
  font-family: Roboto;
  color: #444444;
  background-color: #4162001D;
  margin: 0;
  padding: 2rem;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}