.home {
  .page-title {
    font-family: 'Josefin Sans';
    color: #416200;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .home-actions {
    display: flex;
    align-items: flex-end;

    .input-container {
      display: flex;
      flex-direction: column;
      
      label {
        font-weight: bold;
        margin-bottom: 0.25rem;
      }
    }

    .button {
      .p-button {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}