.products-table {
  .data-table {
    .p-datatable {
      width: 75%;
  
      .p-datatable-tbody {
        & > tr {
          & > td {
            &:last-child {
              .p-button {
                &.danger {
                  margin-left: 0.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.p-dialog {
  &.update-dialog, &.delete-dialog {
    width: 25%;
  }

  &.delete-dialog {
    .p-dialog-content {
      p {
        margin: 0.5rem 0;
  
        .product-name {
          font-weight: bold;
        }
      }
    }
  }

  &.update-dialog {
    .p-dialog-content {
      .input-text {
        display: flex;

        .input-container {
          display: flex;
          flex-direction: column;

          label {
            font-weight: bold;
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}